#banner {
    padding: 0 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    
}

body {
    background: linear-gradient(#ffff99, #ff99cc);
    
}




.directions {
    background-color: lavenderblush;
}

.total-score {
    background-color: aliceblue;
    position: relative;
    float: right;
    margin-top: -200px;
}
.wins-loses {
    
    width: 100px;
    overflow: auto;
    width: 80em;
    margin-top: -200px;
    
}
.resize {
    position: relative;
    width: 100px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
.resize img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
